@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
    font-weight: 300;
}

body {
    font-family: "Titillium Web", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    z-index: 10;
}

.top-link {
    color: #003862;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    list-style: none;
    padding: 0 15px;
}

.nav-item a {
    color: #003862;
}

.nav-item a:hover {
    color: black;
}

.nav-phone-number {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.nav-phone-number a {
    color: #003862;
}

.hero-section {
    width: 100%;
    margin: 0;
    position: relative;
    max-height: 670px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .7rem .7rem rgba(0, 0, 0, .2);
    z-index: 9;
}

.elder-image {
    width: 100%;
    height: 100%;
}

.hero-caption {
    font-size: 2rem;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 5px 50px;
}

.hero-caption h1, .hero-caption h3 {
    margin: 20px;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

hr {
    margin: 0;
}

.who-we-are {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #003862;
    color: white;
    text-align: center;
    box-shadow: 0 .7rem .7rem rgba(0, 0, 0, .2);
    z-index: 8;
}

.who-we-are-content {
    padding: 40px;
}

.about-us {
    width: 100%;
    margin: 0;
    position: relative;
    max-height: 670px;
    overflow: hidden;
    box-shadow: 0 .7rem .7rem rgba(0, 0, 0, .2);
}

.elder-blood-pressure {
    width: 100%;
}

.about-us-caption {
    position: absolute;
    top: 40%;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
    padding: 5px 50px;
    margin: 0 40px;
}

.contact-section {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section a {
    text-decoration: underline;
    color: #003862;
}


.contact-info {
    color: #003862;
    padding: 40px;
    text-align: center;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
}

.footer-content {
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin-top: -20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.socket {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.socket a {
    color: white;
    text-decoration: underline;
}

.socket-info {
    padding: 8px 0;
    color: white;
    font-size: 12px;
}

@media (max-width: 575.98px) {
    .navbar {
        justify-content: center;
        padding: 15px 0;
    }

    .top-link {
        display: none;
    }

    .nav-phone-number {
        display: none;
    }

    .hero-caption {
        font-size: 1rem;
        top: 30%;
        padding: 5px 30px;
    }

    .hero-caption h1, .hero-caption h3 {
        margin: 8px;
    }

    .about-us-caption {
        top: 10%;
        margin: 0 10px;
        padding: 5px 25px;
        overflow-y: auto;
        max-height: 200px;
    }
}