@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
    font-weight: 300;
}

html, body {
    font-family: "Titillium Web", sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body a {
    text-decoration: none;
}

/* Navbar */
.top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 0;
    background-color: #003862;
}

.top-bar a {
    text-decoration: none;
    color: white;
}

.topBar-phone-number {
    padding-right: 20px;
}

.navbar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 30px;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .2);
    z-index: 10;
}

.top-link {
    color: #003862;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 2rem;
}

.nav-links {
    margin-left: 10px;
}

.nav-links ul li:nth-of-type(1) a {
    font-weight: 600;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    list-style: none;
    padding: 0 15px;
}

.nav-item a {
    color: #003862;
}

.nav-item a:hover {
    color: black;
}
/* End Navbar */

/* Hero Section */
.hero-section {
    width: 100%;
    margin: 0;
    position: relative;
    max-height: 670px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 .7rem .7rem rgba(0, 0, 0, .2);
    z-index: 9;
}

.elder-image {
    width: 100%;
    height: 100%;
}

.hero-caption {
    font-size: 2rem;
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 5px 50px;
}

.hero-caption h1, .hero-caption h3 {
    margin: 20px;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

hr {
    margin: 0;
}
/* End Hero Section */

/* Who We Are Section */
.who-we-are {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #003862;
    color: white;
    text-align: center;
    box-shadow: 0 .7rem .7rem rgba(0, 0, 0, .2);
    z-index: 8;
}

.who-we-are-content {
    padding: 40px;
}
/* End Who We Are section */

/* About US section */
.about-us-section {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-section a {
    text-decoration: underline;
    color: #003862;
}


.about-info {
    color: #003862;
    padding: 40px;
    text-align: center;
}
/* End About Us section */

/* Services Header */
.services-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* End Services Header */

/* Services Details */
.services-descriptions {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #003862;
    padding: 30px 50px;
    color: white;
}

.services-descriptions div {
    padding: 20px;
}
/* End Services Details */

/* Footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
}

.footer-content {
    color: white;
    text-align: center;
    padding: 20px;
}

.footer p {
    margin-top: -20px;
}

.footer a {
    color: white;
    text-decoration: none;
}
/* End Footer section */

/* Socket section */
.socket {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

.socket a {
    color: white;
    text-decoration: underline;
}

.socket-info {
    padding: 8px 0;
    color: white;
    font-size: 12px;
}
/* End Socket section */

/* Media Queries */
@media (max-width: 280px) {
    .nav-links a {
        font-size: .9rem;
    }

    .hero-caption {
        top: 10% !important;
        margin: 0 5px !important;
        right: 0 !important;
    }
}

@media (max-width: 576px) {
    .navbar {
        justify-content: center;
        padding: 15px 0;
    }

    .top-link {
        display: none;
    }

    .nav-links {
        padding: 0 15px;
        margin-left: 0;
    }

    .nav-item {
        padding: 0 10px;
    }

    .nav-phone-number {
        display: none;
    }

    .hero-caption {
        font-size: 1rem;
        top: 30%;
        padding: 5px 30px;
    }

    .hero-caption h1, .hero-caption h3 {
        margin: 8px;
    }

    .services-descriptions {
        grid-template-columns: 100%;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .hero-caption {
        top: 10%;
        margin: 0 10px;
    }
}